<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite">
    <test name="Run Cucumber Tests">
        <classes>
            <!--  <class name="runner.TestRunner"/> -->
            
            
          <class name="tests.TestNGToDo" /> 
        </classes>
    </test>
</suite>